body {
    font-family: 'Roboto Slab', serif;

    overflow-x:hidden;
    padding: 0%;
    
}
.bg-dark {
    background-color: wheat!important;
    border-bottom: 2px solid coral;
}
.navbar-brand img {
    height: 10vh;
    width: 10vw;
}
.navbar-nav {
    margin-right: 5vw;
    
}
.nav-link {
    font-size: 30px;
    color: coral !important;
}
.nav-item a.nav-link:hover {
    border-bottom: 2px solid brown;
    color:coral !important;
}
.img-fluid {
    max-width: 200px !important;
}
.dropdown-item {
    color: coral !important;
}
.carousel-item img {
    margin-top: 0%;
    height: 70vh;
}
h1,h2 {
    color: coral;
}
p {
    font-size: 18px;
    color: brown;
    text-align: justify;
}
.container img{
    justify-content: space-around;
    padding: 3px;

}
.footer-section {
    background-color: wheat;
    border-top: 2px solid coral;
    border-bottom-color: 2px solid coral;
}
.fa {
    font-size: 2em;
    padding: 1em;
}
.footer-section img {
    width: 150px;
    height: 150px;
}